@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --backgroundPrimary: #fafafa;
  --backgroundSecondary: #ebebeb;
  --accent: #ff2e00;
  --text: #1f2a3f;
}

body.dark {
  --backgroundPrimary: #192227;
  --backgroundSecondary: #263238;
  --accent: #0094c6;
  --text: #eceff2;
}

/* Adding Font */
@font-face {
  font-family: "Lora"; /*Name in .tff file*/
  src: url(./assets/font/Lora.ttf);
}

@font-face {
  font-family: "LoraIttalic"; /*Name in .tff file*/
  src: url(./assets/font/LoraIttalic.ttf);
}

@media (min-width: 1440px) {
  .fixMargin {
    margin-left: calc((100vw - 1440px) / 2);
    margin-right: calc((100vw - 1440px) / 2);
  }
}
